.title_landing {font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 23px;
letter-spacing: -1px;
word-spacing: 1.4px;
color: #000000;
font-weight: 400;
text-decoration: underline rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;}