{% extends "layout.html" %}
{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<style>
.Heading_css {
  color: #222;
  text-shadow: 0px 2px 3px #555;
}
</style>

<div class="Heading_css">
<h2 style="text-align: center;"><span style="color: #333300;">Welcome</span> to my covid-19 research page</h2>
<h4 style="text-align: center;"><span style="color: #000000;">In this page we will explore and analize the Covid-19 Pandemic Data of israel.</span></h4>
</div>
<p style="text-align: center;"><strong>Moving avarges graph</strong></p>
  <div class="chart" id="three_ma">
        <script>
            var graphs = {{three_ma | safe}};
            Plotly.plot('three_ma',graphs,{autorange: true});
        </script>
    </div>


<p style="text-align: center;">In this graph we checked the moving avarge in the periods of 7,30,60 days</p>
<p style="text-align: center;">By comparing the moving avarges we can see how the israeli behavior functioning during the Covid-19 Pandemic in differents time periods </p>
<p style="text-align: center;">&nbsp;</p>


<p style="text-align: center;"><strong>First and not first test graph positive and non positive</strong></p>

  <div class="chart" id="res_plot_first_test">
        <script>
            var graphs = {{res_plot_first_test | safe}};
            Plotly.plot('res_plot_first_test',graphs,{autorange: true});
        </script>
    </div>

<p style="text-align: center;">in this graph we can see how many tests have been made every day.</p>
<p style="text-align: center;">the graph devide to how many people made their first test in this day and not first test.</p>
<p style="text-align: center;">I compared it with the covid positive results per day and 7 days moving avarge.</p>
<p style="text-align: center;">When i looked on the graph i had a question in may head.</p>
<p style="text-align: center;">"is there a link between people who just got first tested and not first test to the positive results?"</p>
<p style="text-align: center;">I have plotted a graph to see if there is a link.</p>
<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;"><strong>first and and not&nbsp; first test that they are positive graph</strong></p>

 <div class="chart" id="res_plot_first_test_positive">
        <script>
            var graphs = {{res_plot_first_test_positive | safe}};
            Plotly.plot('res_plot_first_test_positive',graphs,{autorange: true});
        </script>
    </div>

<p style="text-align: center;">from this grap we could clearly see that over the first half year people who made their first test are more likely to be positive to Covid-19 </p>
<p style="text-align: center;">I assume that people who made several test for Covid-19 are more likely to follow the goverment guidelines</p>


<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">another thing i wanted to check is how well we function in the quantire <br />so i made a graph that show how well we managed to make the quantire<br /><br /></p>
<p style="text-align: center;"><strong>Quantire graphs dates : 2020-03-14-2020-04-30 , 2020-09-18-2020-10-13</strong><br /><strong>with 7 days moving avarges</strong></p>


 <div class="chart" id="res_quantire">
        <script>
            var graphs = {{res_quantire | safe}};
            Plotly.plot('res_quantire',graphs,{autorange: true});
        </script>
    </div>

<p style="text-align: center;">from the graph we can learn that we didnt really managed to block the spreading in the first<br /> quantire but in the second quantire we succeeded</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>

{% endblock %}